$bg-color:#F4414A;
$color: #ffffff;

body{
	background:$bg-color;
	width:100vw;
	height:100vh;
	margin:0;
	padding:0;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	color:$color;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body>img{
	width:100px;
}

::selection{
	background:$color;
	color:$bg-color;
}

::-moz-selection{
	background:$color;
	color:$bg-color;
}

